_ReSharper.RoachHotel/*
_ReSharper.RoachHotel/
RoachHotel.6.5.TeamCity.user
RoachHotel.Data/bin/*
RoachHotel.Data/obj/
RoachHotel.ncrunchsolution.user
RoachHotel.Raven/bin/*
RoachHotel.Raven/obj/*
RoachHotel.suo
RoachHotel/bin/*
RoachHotel/obj/*
RoachHotel/RoachHotel.Mvc.csproj.user
